<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593862575380-5kqkde1inv9cinjjoqfhlf6v7ijn1ulu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593862575380-5kqkde1inv9cinjjoqfhlf6v7ijn1ulu</string>
	<key>API_KEY</key>
	<string>AIzaSyD2qJa0hfXEGCjrCeLN9K2nfWZ6pr4CEY8</string>
	<key>GCM_SENDER_ID</key>
	<string>593862575380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locotour</string>
	<key>PROJECT_ID</key>
	<string>locotour-5cdce</string>
	<key>STORAGE_BUCKET</key>
	<string>locotour-5cdce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593862575380:ios:1db9c773cee663f2052e01</string>
</dict>
</plist>